body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(16, 16, 200);
  }
  
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #272727;
  padding: 15px 20px;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links a:hover {
  color: pink;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

.audio-player {
  color: #333;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.song-title {
  margin-top: 8px;
  color: #fff;
  background-color: rgba(000, 000, 000, .7);
  text-decoration: none;
}

.song-title:hover {
  color: pink;
}